.bodyIndex {
    background-color:rgb(252, 179, 179)
}


.aparicoesBody,  .contatoBody {
    background-color: rgb(80, 75, 75);
    margin-top: 60px;
    margin-bottom: 60px;
}

.contato {
    background-color: rgb(80, 75, 75);
    margin-top: 60px;
    margin-bottom: 60px;
}

.aparicoesP {
    font-size: 20px;
    font-family: monospace;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding: 5px;
    background-color: rgb(14, 13, 13);
    color: whitesmoke;
    text-align: left; 
    padding-left: 25px;
}

.footerAparicoes {
    font-size: 30px;
    background-color: #2c2929;
    border: 6px solid black;
    color: antiquewhite;
    text-align: center;
    margin: 60px 60px 60px 60px;
    padding: 60px 60px 60px 60px;
}

.avisoBody {
    background-color: rgb(119, 126, 126);
}

.aparicoesImg {
    margin: 25px;
    border: 6px solid #000;
}

.cabecalhoHistorico {
    font-size: 60px;
    background-color: #2c2929;
    border: 6px solid black;
    color: antiquewhite;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 90px;
    padding: 0;
    margin: 0; 
    text-decoration: none;
    text-decoration-line: none;
}

.pontoInterrogacao {
    font-size: 90px;
    padding: 0;
    margin: 0; 
    text-decoration: none;
    text-decoration-line: none;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    border: 6px #000 solid;
    background-color:rgb(179, 116, 116)

}

.h1Contato {
    text-align: center;
    font-size: 70px;
    margin: 40px;
    border: 6px #000 solid;
    background-color: rgb(85, 81, 81);
}

.avisoH1 {
    text-align: center;
    font-size: 50px;
    margin: 25px;
    border: solid 6px black;
    background-color: #2c2929;
}


.indexP, .avisoP2 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
   
}
p {
    font-size: 20px;
    text-align: justify;
    font-family: monospace;
    margin: 30px;
}

.avisoP {
    font-size: 20px;
    text-align: justify;
    font-family: monospace;
    margin: 20px;
    padding: 10px;
    
}

.pContato {
    text-align: center;
    font-size: 18px;
    background-color: rgb(85, 81, 81);
    padding: 10px;
}


b, .h3index {
    font-size: 42px;
    padding: 0%;
    margin: 0;
   
}

h3 {
    font-size: 35px;
    text-align: center;
    font-family: monospace;
    margin: 20px;
    padding: 10px;
}

.bAviso {

    font-size: 35px;
    text-align: center;
    font-family: monospace;
    margin: 20px;
    padding: 10px;
    
}

.fotosTiago {
    margin-left: 90px;
    
}

.inputContato {
    margin-left: 90px;
}

.form {
    margin-left: 90px;
    margin-bottom: 100px;
}
.musica {
    position: absolute;
}
.geral {
    margin: 40px;
    text-align: center;
   color: rgb(17, 14, 10);
   font-size: 15px;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}

.teoria{
    display:flex;
}

.legenda {
    font-size: 10px;
    margin: 5px;
    text-align: left;
    margin-left: 25px;
}

